
body{
    background-color: #f5f6f8;
}

.nav{
    height: 50px;
    width: 100%;
    right: 20px;
}

.header{
    position: fixed;
    height:50px;
    width: 100%;
}
.side-bar{
    position:fixed;
    display: grid;
    grid-template-columns:1fr;
    background-color: #FFFFFF;
    height:100%;
    width: 80px;
    border-radius: 1px 50px 30px 5px;
    box-shadow: 1px 5px 12px #888888;
}

.search-box{
    height: 50px;
    width: 100%;
    bottom: 50;
}

.search-bar{
    width: 100%;
    padding: 20px;
}

.search-bar h2{
    margin-left: 90px;   
}

.content{
    margin-left: 100px;
    justify-content: center;

}

.footer{
    text-align: center;
}